%h3 Home HAML 2014
%strong{:class => "code", :id => "message"} Hello, World!
%strong.code#message2 Hello World 2!
#content Hola Mundo
%section.container
	%p.intro
	This is a text in a paragraph
	%ul.mylist
		%li#firstitem List item one
		%li List item two
		%li List item three
	%p
	This is a second paragraph
