- content_for :title do
	Form
%h1 JQuery HAML
#container
	#content
		
		#navigation
			%ul
				%li#home
					%a{:href => "#"}Home
				%li#buy
					%a{:href => "#"}Buy Now!
				%li#about
					%a{:href => "#"}About Us
				%li#gifts
					%a{:href => "#"}Gift Ideas
		%h2 localhost: H2
		%p#intro
			Welcome to <strong>StarTrackr!</strong> the planet's premier celebrity tracking and monitoring service. Need to know where in the world the best bands, musicians or producers are within 2.2 square meters? You've come to the right place. We have a very special special on B-grade celebs this week, so hurry in! Welcome to <strong>StarTrackr!</strong> the planet's premier celebrity tracking and monitoring service. Need to know where in the world the best bands, musicians or producers are within 2.2 square meters? You've come to the right place. We have a very special special on B-grade celebs this week, so hurry in!Welcome to <strong>StarTrackr!</strong> the planet's premier celebrity tracking and monitoring service. Need to know where in the world the best bands, musicians or producers are within 2.2 square meters? You've come to the right place. We have a very special special on B-grade celebs this week, so hurry in! 
		%p.splitter_panes  
		%div#splitter
			%h2 Splitter Panes
			%div.pane#tocPane
				%div.inner
					%ol
						%li 
							%a{:href => "#privacy"}Your Privacy
						%li 
							%a{:href => "#celebs"}Celeb's Privacy
						%li Ownership   Intellectual Property
						%ol 
							%li 
								%a{:href => "#liability"}Liability
							%li 
								%a{:href => "#rights"}Exclusive & Non-exclusive rights
							%li 
								%a{:href => "#ugc"}User Generated Material 
      
			%div.pane#contentPane
				%div.inner
					%h3 Content Pane 
					%p This website contains messaging systems and other user generated content toward the purpose and fulfillment of directory or indirectly contacting or stalking celebrities and/or their family and/or people in their vaguely related social sphere. Such content is here forth and eternally regarded as property of StarTrackr and parent company et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
		%section#bio
			%h2 Sliding Panes
			%h3 Sliding Pane One
			%div
				= link_to image_tag("http://placehold.it/100x100")  ,"http://www.google.com"
				
				%p Content about Sliding Pane One
			%h3 Sliding Pane Two
			%div
				= link_to image_tag("http://placehold.it/100x100")  ,"http://www.google.com"
				%p Content about Sliding Pane Two


			%h3 Sliding Pane Three
			%div
				= link_to image_tag("http://placehold.it/100x100")  ,"http://www.google.com"
				%p Content about Sliding Pane Three
	

		#news
			%h2  #news
			%p.localhost
				(Hover to see effects demo)localhost:3000 Which member of the seminal calypso/lectro band <em>C&amp;C Music Sweatshop</em> was spotted last night at <em>Dirt</em>, the trendy New York restaurant that serves only food caught and retrieved by the chef's own hands?<span class="spoiler">Yes! It's the ever-effervescent, <em>Glendatronix</em>!</span>
			
			%p
				localhost:3000 Who lost their recording contract today? 
				<span class="spoiler">The Zaxntines!</span></p>
		#news_two
			%h2 #news_two 
			%p
				(#news_two testing scroll, and styled with scrollPane() plugin and with mousewheel added back in)LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.  LOTS OF MORE INFORMATION HERE.
			
			%p
				localhost:3000 Who lost their recording contract today? 
				<span class="spoiler">The Zaxntines!</span></p>     
		%div
			%h2.heading Our Content 
			%p.info
				(.info)localhost:3000 We have an ever changing roster of newly chipped celebrities. But it can take as little as a week for the little critters to realise they've been tagged - so you have to be fast!  LOTS OF MORE INFORMATION HERE.
			%p.info_two
				(.info_two triggering event with hover)LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.  LOTS OF MORE INFORMATION HERE.
			%p.info_three
				(.info_three, mouseover/mouseout tied to hover)LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.LOTS OF MORE INFORMATION HERE.  LOTS OF MORE INFORMATION HERE.
	
		%table.data#celebs
			%thead
				%tr
					%th ID
					%th Name
					%th Occupation
					%th Approx. Location
					%th Price

				We have an ever changing roster of newly chipped celebrities. But it can take as little as a week for the little critters to realise they've been tagged - so you have to be fast! 


				%tbody
					%tr
						%td 203A
						%td Johny Stardust (<a class="lightbox" href="http://localhost:3000/assets/placeholder-400x400.png">Image PNG</a>, <a href="bio.pdf">bio</a>)
						%td Front-man
						%td Los Angeles
						%td $39.95
			
					%tr
						%td 141B
						%td Beau Dandy (<a class="lightbox" href="http://localhost:3000/assets/avatar_placeholder_400x400.jpg">Image AVATAR</a>,<a href="bio.pdf">bio</a>)
						%td Singer
						%td New York
						%td $39.95
					
					%tr
						%td.colemail 2031 
						%td Mo' Fat (<a class="lightbox" href="http://localhost:3000/assets/placeholder-400x400.jpg">Image JPG</a>pic</a>)
						%td Producer
						%td New York
						%td $19.95
						
					%tr
						%td 007F
						%td Kellie Kelly (<a href="bio.pdf">bio</a>,<a href="w.doc">press</a>)
						%td Singer
						%td Omaha
						%td $11.95
					
					%tr
						%td 8A05
						%td Darth Fader (<a class="lightbox" href="http://localhost:3000/assets/placeholder-400x400.png">Image PNG</a>)
						%td DJ
						%td London
						%td $19.95
					 
					%tr
						%td 6636
						%td Glendatronix  (<a href="bio.pdf">bio</a>,<a href="w.doc">press</a>)
						%td Keytarist
						%td London
						%td $39.95
			
		#comment
			%h2 Leave a comment 
			name:
			%input{:type => "text"} 
			comment:
			%textarea comment

		%input#fadeButton2{:type => "button", :value => "fadeButton2"}
		%input#fadeButton{:type => "button", :value => "fadeButton"}
		%input#thisTest{:type => "button", :value => "click2hide me"}
		%input#insertButton{:type => "button", :value => "insert something"}
		%input#toggleButton{:type => "button", :value => "toggle"}
		%input#hideButton{:type => "button", :value => "hide"}
		%input#showButton{:type => "button", :value => "show"}
		%p.no-script
			We recommend that you have JavaScript enabled
		%h2.h2 Fine Print
		%p.disclaimer
			Disclaimer! This service is not intended for the those with criminal intentCelebrities are kind of like people so their privacy should be respected.     
	

      
      



