// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
  $bgcolor: #94C5EB;
  $basetextcolor: #3E3E3E ;
  $linkcolor: #3687AF;

body {
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  color: $basetextcolor;
  background: $bgcolor;
  font-size: 12px;
}

p {
  padding: 5px;
}

a {
  color: $linkcolor;
}

#container {
  margin:0 auto;
  text-align: left;
  width: 650px;
}

#header {
  height: 60px;
  color: #172322;
  background: transparent;
}
#bio {
  margin-bottom: 10px;
}

#bio h3 {
  margin:0;
  padding:5px 0 5px 10px;
  background-color:#94C5EB;
  border-bottom:1px solid #fff;
  color: #00314F;
  font-weight:normal;
}

#bio div {
  height:120px;
  background-color: #F4F4EE;
  border-bottom:1px solid #fff;
  position: relative;
}

#bio img {
  margin:10px;
  background-color: #F4F4EE;
}

#bio p {
  position: absolute;
  left: 120px;
  top: 10px;
  margin: 0 10px 0 0;
  padding: 0;
}

#news_two {
  height: 100px;
  width: 300px;
  border: 1px solid red;
  overflow: scroll;
}
#navigation_blob {
  top: 0px;
  left: 120px;

  height: 30px;
  opacity: 0.70;
  background-color: #c0ffee;
  position: absolute;
  z-index: 1;

}
#navigation {
  position: relative;
  width: inherit;

  margin: 0;
}

#navigation li {
  height:30px;
  float:left;
  list-style-type: none;
  width:70px;
  padding:3px;
  border-right:1px solid #3687AF;
  background-color: #015287;
  background-repeat: no-repeat;
  background-position: center 30px;
}

#navigation ul {
  padding: 0;
  margin: 0;
}

#navigation li a {
  color: #FFFFFF;
}

#navigation li#home {
 background-image: url("http://localhost:3000/assets/home_icon.png");
 z-index: 5000;
}
#navigation li#about {
  background-image: url("http://localhost:3000/assets/home_icon.png");
}
#navigation li#buy {
  background-image: url("http://localhost:3000/assets/home_icon.png");
}
#navigation li#gifts {
  background-image: url("http://localhost:3000/assets/home_icon.png");
}
#image {
  float: left;
}
#list {
  list-style: none;
}

.info_three {
 background-image: url("http://localhost:3000/assets/home_icon.png");

}
ul {  
   background-color: #ccc;  
  display: block; 
  list-style: none; 
}  
  
li {  
    color: white;  
    display: inline-block;  
    padding: 5px 10px 0 10px;  
    margin-right: 2px;  
    border-right: 1px solid  #f8f8f8
 
}
#content {
  background-color: #fff;
  padding: 0 15px 10px 15px;

} 

#footer {
  padding:15px;
  clear: both; 
  background-color:$bgcolor;  
  font-size:75%;  
  font-family:sans-serif;  
  color: #333;
  text-align: center;  
  border-top:solid 2px #69a; 
    .footerlinks {
      list-style: none;
      margin: 0 auto;
        a {
          display: inline-block;
          float: left;
          margin-right: 10px
        }
  }
}


h1, h2, h3 {
  border-bottom:2px solid #015287;
  color: #D15600;
  padding-top: 10px;
  margin-top: 0;
}
strong {
  color: red;
}

table {
  border-collapse:collapse;
  font-size:12px;
  margin:0 20px 20px 20px;
  border-top:2px solid #015287;
  width:480px;
}

th {
  border-bottom: 2px solid #015287;
  color: #D15600;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  padding: 3px 8px;
}

td {
  padding: 6px;
}

.zebra{
  background-color: #dddddd;
  color: #666666;
}
.zebrahover {
  background-color: #fffacd;
}
.code {
  color: red;
}
.aside {
  width: 125px;
  float: right;
  background: #fff;
}
.no-script {
  text-transform: uppercase;
  color: red;
}
.spoiler {
  color: red;
}
.show {
  display: inline;
}

// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 900px;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;

  }
