// import the CSS framework
@import "bootstrap";

/*// make all images responsive by default*/
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
/*// override for the 'Home' navigation link*/
.navbar-brand {
  font-size: inherit;
  }

/*// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes*/
  $bgcolor: #94C5EB;
  $basetextcolor: #3E3E3E ;
  $linkcolor: #3687AF;
  $fontsize: 12px;
  $basewidth: 950px;

body {
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  color: $basetextcolor;
  background: $bgcolor;
  font-size: $fontsize;
  width:  $basewidth;

}

p {
  padding: 5px;
}

a {
  color: $linkcolor;
}
ul {  
   background-color: #ccc;  
  display: block; 
  list-style: none; 
} 
ol {
  list-style-type: lower-roman;
} 
  
li {  
    color: #fff;  
    display: inline-block;  
    padding: 5px 10px 0 10px;  
    margin-right: 2px;  
    border-right: 1px solid  #f8f8f8
 
}
h1, h2, h3 {
  border-bottom:2px solid #015287;
  color: #D15600;
  padding-top: 10px;
  margin-top: 0;
}
strong {
  color:  darkgreen;
}
/*//CONTENT, CONTAINER*/
#content {
  background-color: #fff;
  padding: 0 15px 10px 15px;
  height: 2400px;
}
#container {
  margin:0 auto;
  text-align: left;
  width: 650px;
}

#header {
  margin: 0 auto;
  width:  $basewidth;
  height: 60px;
  color: #172322;
  background: transparent;
}

#footer {
  padding:15px;
  clear: both; 
  background-color:$bgcolor;  
  font-size:75%;  
  font-family:sans-serif;  
  color: #333;
  text-align: center;  
  border-top:solid 2px #69a; 
    &.footerlinks {
      list-style: none;
      margin: 0 auto;
        a {
          display: inline-block;
          float: left;
          margin-right: 10px
        }
  }
}

/*//BIO*/
#bio {
  margin-bottom: 10px;
  h3 {
    margin:0;
    padding:5px 0 5px 10px;
    background-color:#94C5EB;
    border-bottom:1px solid #fff;
    color: #00314F;
    font-weight:normal;
  }

  div {
    height:120px;
    background-color: #F4F4EE;
    border-bottom:1px solid #fff;
    position: relative;
  }

  img {
    margin:10px;
    background-color: #F4F4EE;
  }

  p {
    position: absolute;
    left: 120px;
    top: 10px;
    margin: 0 10px 0 0;
    padding: 0;
  }



}



/*NAVIGATION*/
#navigation_blob {
  top: 0px;
  left: 120px;
  height: 30px;
  opacity: 0.70;
  background-color: #c0ffee;
  position: absolute;
  z-index: 1;

}
#navigation {
  width: 100px;
  float: right;
  position: relative;
  z-index: 5000;
  &.fixed {
    position: fixed;
    left: 50%;
    margin-left: 160px;
    top: 0;
  }
  li {
    height:30px;
    float:left;
    list-style-type: none;
    width:70px;
    padding:3px;
    border-right:1px solid #3687AF;
    background-color: #015287;
    background-repeat: no-repeat;
    background-position: center 30px;
      a {
        color: #FFFFFF;
      }

      &#home {
        background-image: url("http://localhost:3000/assets/home_icon.png");
        z-index: 5000;
      }
      &#about {
        background-image: url("http://localhost:3000/assets/home_icon.png");
      }
      &#buy {
        background-image: url("http://localhost:3000/assets/home_icon.png");
      }
      &#gifts {
        background-image: url("http://localhost:3000/assets/home_icon.png");
      }

  }

  ul {
    padding: 0;
    margin: 0;
  }

 
} 




/*//TABLE*/

table {
  border-collapse:collapse;
  font-size:12px;
  margin:0 20px 20px 20px;
  border-top:2px solid #015287;
  width:480px;
  margin-left: 0;
  th {
    border-bottom: 2px solid #015287;
    color: #D15600;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 3px 8px;
  }
  td {
    padding: 6px;
  }

}

// SPLITTER

#splitter { 
  height: 150px;
  margin-top: 30px;
  margin-bottom: 50px;
    ol {

      list-style-type: lower-roman !important ;
      li {
        display: block;
        border: none;
        

      }
      ol {

        list-style-type:lower-roman !important ;
        li {
          display: block;
          border: none;
         

        }
      }
    }
  h2 { 
    margin-bottom: 0; 
    padding-bottom: 0;
  } 

  #tocPane { 
    overflow: hidden;
    background: #d6dde5 url("http://localhost:3000/assets/handle.png") no-repeat right center;
    &.inner { 
      width: 300px; 
    } 
    &.pane {
      width: 50%;
      height: 100%;
      float: left;
    }
  }

  #contentPane {
    overflow: auto;
    &.inner {
      padding: 0 5px;
    }
    &.pane {
      width: 50%;
      height: 100%;
      float: left;
    }
  }
}


//OVERLAY, LIGHTBOX, STYLES

#overlay {//holds loader gif
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url("http://localhost:3000/assets/loader.gif") no-repeat scroll center center;

}

#lightbox {//holds image
  position: relative;
  margin: 0 auto;
 
    img.gallery {
      position: relative;
      top: 120px;
      left: 30px;
      
    }
}
/*/FADER STYLES TO USE ROLLOVER FADE */


#fader, #fader2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  display: block;
  position: relative;
   img {
    position: absolute;
      &.show {
        display: inline;
      }
   }
  .to {
    display: none;
    position: absolute;
    left: 0;
    
  }
}
#fader2 {
  border: 3px solid red;

}

/*TIMER FUNCTIONS BOXES*/
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
    &.red {
      top: 130px;
      
      border-color: red;
      background-color: red;
    }
  &.green {
    top: 120px;
    border-color: green;
    background-color: green;
  }
}
/* FADING SLIDESHOW*/

#photos img {
  display: none;
  &.show {
    display: inline;
  }
}

#photos 
/*//ADDITIONAL AS PER BOOK*/
/*//IMAGE*/
#image {
  float: left;
}
/*//LIST*/
#list {
  list-style: none;
}

.scrolled {
  background-color: red;
}
.info_three {
 background-image: url("http://localhost:3000/assets/home_icon.png");

}
.zebra {
  background-color: #dddddd;
  color: #666666;
}
.zebrahover {
  background-color: #fffacd;
}
.code {
  color: red;
}
.aside {
  width: 125px;
  float: right;
  background: #fff;
}
.no-script {
  text-transform: uppercase;
  color: red;
}
.spoiler {
  color: red;
}
.show {
  display: inline;
}

// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 900px;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;

  }
