-# footer styled for Bootstrap 3.0
%footer.footerstyles
  %ul.footerlinks
    %li 
      %a{:href => "google.com"}FOOTER Link one
    %li 
      %a{:href => "google.com"}FOOTER Link two
    %li 
      %a{:href => "google.com"}FOOTER Link three
    
